---
language: python
python: "2.7"

# Use the new container infrastructure
sudo: false

# Install ansible
addons:
  apt:
    packages:
      - python-mock
      - python-pip
      - python-unittest2

install:
  # Install ansible
  - pip install ansible ansible-lint

  # Check ansible version
  - ansible --version

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../' >ansible.cfg

script:
  # Run Ansible lint against the role
  - ansible-lint tasks/main.yml

  # Basic role syntax check
  - ansible-playbook tests/test.yml -i tests/inventory --syntax-check

  # Python unit tests for drac_bios module
  - export PYTHONPATH="$PYTHONPATH:/home/travis/build/markgoddard/drac-bios/library"
  - python tests/test_drac_bios.py

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
